h21 {
    font-size: 40px;

}

.user-name{
    font-size: 20px;
    margin: 10px;
}

.user-image{
    font-size: 20px;
    margin: 10px;
}

.email{
    font-size: 20px;
    margin: 10px;
}

.password{
    font-size: 20px;
    margin: 10px;
}

.password-again{
    font-size: 20px;
    margin: 10px;
}

.current-password{
    font-size: 20px;
    margin: 10px;

}

.update{
    font-size: 30px;
    margin: 10px;
}

.profile{
    text-align: center;
    margin-top: 20px;
}