.mypage {
    background-color: aqua;
    height: 350px;
}


h8 {
    font-size: 40px;
    

}

p1 {
    font-size: 40px;
    position: relative;
    left: 560px;
    border: 3px;
    top: 50px;
}

.auto-resize-image3{
    height: 300px;
    overflow: hidden;
    object-fit: contain;
    position: relative;
    bottom: 15px;
    left: 150px;
}

p2 {
    font-size: 35px;
    position: relative;
    top: 130px;
    left: 50px;
}

p3 {
    font-size: 20px;
    text-align: right;

}

.auto-resize-image4{
    height: 200px;
    overflow: hidden;
    object-fit: contain;
}

.mypage-all{
    position: relative;
    top: 100px;
}


.mypage-like{
    position: relative;
    top: 600px;
}

h15 {
    font-size: 35px;
    position: relative;
    bottom: 100px;
    
}

.my-post{
    font-size: 20px;
}

h16{
    font-size: 35px;
    position: relative;
   
}

.auto-resize-image5{
    height: 200px;
    overflow: hidden;
    object-fit: contain;
}

.mypage-edit{
    font-size: 20px;
    text-align: right;
    
}

