h21 {
    font-size: 40px;

}

.user-name{
    font-size: 20px;
}

.user-image{
    font-size: 20px;

}

.profile{
    font-size: 20px;

}

.email{
    font-size: 20px;

}

.password{
    font-size: 20px;

}

.password-again{
    font-size: 20px;

}

.current-password{
    font-size: 20px;

}

.update{
    font-size: 30px;
}