h6{
    font-size: 40px;
}


.show-body{
    font-size: 40px;
    position: relative;
    top: 450px;

}


.auto-resize-video-2{
    height: 400px;
    overflow: hidden;
    object-fit: contain;
}

.auto-resize-image-2{
    height: 300px;
    overflow: hidden;
    object-fit: contain;
    position: relative;
    bottom: 200px;

}

.show-at{
    font-size: 20px;
    position: relative;
    top: 350px;


}


.show-teamname{
    font-size: 35px;
    position: relative;
    top: 310px;
}



.show-title{
    font-size: 40px;
    position: relative;
    top: 200px;

}

.show-edit{
    font-size: 20px;
    position: relative;
    top: 300px;

}

.show-back{
    font-size: 20px;
    position: relative;
    top: 120px;
}

.show-likes{
    font-size: 30px;
    position: relative;
    top: 100px;
}

.mvp-show{
    width: 200px;
    height: 80px;
    background-color: black;
    color: gold;
    font-size: 50px;
    border: solid 3px gold;
    text-align: center;
}

